<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4 title-font">Monthly</div>
    <div class="col-xs-4 title-font">Annually</div>
</div>
<div class="row">
    <div class="col-xs-4"><label class="label-font" for="gasInput">Gas Bill</label></div>
    <div class="col-xs-4">
        <div class="input-group">
            <div class="input-group-addon input-dollar-sign">$</div>
            <input class="form-control" type="number" id="gasInput" ng-model="utilityValues.gas">
        </div>
    </div>
    <div class="col-xs-4">
        <span class="calculator-font">${{ utilityValues.gas * 12}}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-4"><label class="label-font" for="waterInput">Water Bill</label></div>
    <div class="col-xs-4">
        <div class="input-group">
            <div class="input-group-addon input-dollar-sign">$</div>
            <input class="form-control" type="number" id="waterInput"  ng-model="utilityValues.water"></div>
    </div>
    <div class="col-xs-4">
        <span class="calculator-font">${{ utilityValues.water *12 }}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-4"><label class="label-font" for="elecInput">Electricity Bill</label></div>
    <div class="col-xs-4">
        <div class="input-group">
            <div class="input-group-addon input-dollar-sign">$</div>
            <input class="form-control" type="number" id="elecInput"  ng-model="utilityValues.electricity"></div>
    </div>
    <div class="col-xs-4">
        <span class="calculator-font">${{ utilityValues.electricity * 12 }}</span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <span class="calculator-font">${{ total() }}</span>
    </div>
    <div class="col-xs-4">
        <span id="annualTotal" class="calculator-font">${{ total() * 12 }}</span>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-4">
        <span class="title-font">Select A HERS Score</span>
    </div>
    <div class="col-xs-2">
        <select ng-model="selectedScore" class="form-control" name="eScore" id="hersScore" ng-options="obj.score for obj in hersScores" ng-change="calculateSavings()">
        </select>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-4">
        <div class="title-font">Percent Saved</div>
        <span id="savingsPercentage" class="calculator-font">{{percentageSavings}}%</span></div>
    <div class="col-xs-4">
        <div class="title-font">Monthly Savings</div>
        <span id="monthlySavings" class="calculator-font">${{ monthlySavings }}</span>
    </div>
    <div class="col-xs-4">
        <div class="title-font">Annual Savings</div>
        <span id="annualSavings" class="calculator-font">${{ annualSavings }}</span>
    </div>
</div>