<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4 title-font">Monthly</div>
    <div class="col-xs-4 title-font">Annually</div>
</div>
<div class="row">
    <div class="col-xs-4"><label class="label-font" for="gasInput">Gas Bill</label></div>
    <div class="col-xs-4">
        <div class="input-group">
            <div class="input-group-addon input-dollar-sign">$</div>
            <input class="form-control" type="number" id="gasInput" ng-model="gas">
        </div>
    </div>
    <div class="col-xs-4">
        <span class="calculator-font">${{ gas * 12}}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-4"><label class="label-font" for="waterInput">Water Bill</label></div>
    <div class="col-xs-4">
        <div class="input-group">
            <div class="input-group-addon input-dollar-sign">$</div>
            <input class="form-control" type="number" id="waterInput"  ng-model="water"></div>
    </div>
    <div class="col-xs-4">
        <span class="calculator-font">${{ water *12 }}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-4"><label class="label-font" for="elecInput">Electricity Bill</label></div>
    <div class="col-xs-4">
        <div class="input-group">
            <div class="input-group-addon input-dollar-sign">$</div>
            <input class="form-control" type="number" id="elecInput"  ng-model="electricity"></div>
    </div>
    <div class="col-xs-4">
        <span class="calculator-font">${{ electricity * 12 }}</span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <span class="calculator-font">${{ total() }}</span>
    </div>
    <div class="col-xs-4">
        <span id="annualTotal" class="calculator-font">${{ total() * 12 }}</span>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12">
        <div id="slider" ui-slider min="0" max="130" ng-model="hersScore"></div>
        <div id="hersScore" ng-bind="hersScore" ></div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-4">
        <div class="title-font">Percent Saved</div>
        <span id="savingsPercentage" class="calculator-font">{{percentageSavings}}%</span></div>
    <div class="col-xs-4">
        <div class="title-font">Monthly Savings</div>
        <span id="monthlySavings" class="calculator-font">${{ monthlySavings }}</span>
    </div>
    <div class="col-xs-4">
        <div class="title-font">Annual Savings</div>
        <span id="annualSavings" class="calculator-font">${{ annualSavings }}</span>
    </div>
</div>
