body{
    background: #f6f6f6;
}

.input-dollar-sign{
    background: #DFF0D8 !important;
}

.calculator-font{
    font-size: 20px;
    color: darkgreen;
    font-family: 'Play', sans-serif;
}

.label-font{
    font-size: 20px;
    color: #999;
    font-family: 'Play', sans-serif;
}

.title-font{
    font-size: 20px;
    font-family: 'Play', sans-serif;

}

hr{
    background: #DFF0D8;
    color: black;
    height: 2px;
    width: 70%
}